/* General styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-size: cover;
    background-image: url("../img/app-background.jpg");
}

/* Container styling */
.container {
    border: 2px solid white;
    border-radius: 9px;
    padding: 13px;
    width: 100%;
    max-width: 400px;
    background: black;
    opacity: 0.8;
    color: white;
}

/* Button styling */
button {
    background-color: black;
    border: 2px solid white;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    height: 37px;
    width: 38px;
    background: transparent;
    border: none !important;
    font-size: 0;
}

i.fa.fa-map-marker {
    font-size: 35px;
    color: #0ac52a;
}

i.fa.fa-map-marker:hover {
    font-size: 31px;
    color: greenyellow;
}

/* Search bar styling */
.search-bar {
    padding: 8px;
    border-radius: 9px;
    background-color: black;
    border: 2px solid white;
    color: orange;
    outline: none;
    cursor: pointer;
    margin-top: 15px;
    text-transform: capitalize;
}

.search-bar:hover {
    border: 4px solid white;
}

.search-window {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Weather conditions styling */
.temperature-c {
    font-size: 40px;
    font-weight: bolder;
    color: orange;
    margin-bottom: 25px;
    margin-top: 25px;
}

.conditions {
    padding: 5px;
    letter-spacing: 0.9px;
    text-transform: capitalize;
}

.humidity {
    padding: 5px;
    letter-spacing: 0.9px;
}

.wind-speed {
    padding: 5px;
    letter-spacing: 0.9px;
}